* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

body,
form,
div {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
}

img {
  display: block;
  width: 100%;
}

.header {
  background-color: #4444d0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.search-form{
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(48, 48, 48, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.search-form > input {
  height: 40px;
  width: 350px;
  font-size: 18px;
  outline: none;
  border: none;
  padding-left: 5px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 0;
}

.search-form > button {
  border: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
}


.load-more {
  display: none;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #4444d0;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  /* padding: 10px 15px; */
  width: 125px;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 100ms linear;  
}

.load-more:hover {
  font-size: 21px;
  color: #d6d6d6;
  /* padding: 10px 14px; */
}

.is-visible {
  display: block;
}

.gallery {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  padding-bottom: 50px;
}

.photo-card {
  width: 350px;  
  /* height: 300px; */
}

.photo-card__item {
  width: 350px;
  height: 200px;
  overflow: hidden;
}

.photo-card__image {
  object-fit: cover;
  width: 350px;
  height: 200px;
  transition: transform 200ms linear;
}

.photo-card__image:hover {
  transform: scale(1.1);  
}

.submit-img {
  width: 20px;
}

.info {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.info-item{
  margin: 10px auto;
}